.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    position: relative;
    box-shadow: 3px 0 12px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
}

.header a {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}